/* Layout geral */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Content */
body > * {
    flex-shrink: 0;
}

.article {
    flex-grow: 1; /* Faz o conteúdo crescer para ocupar o espaço disponível */
}

/* Footer */
.footer {
    background-color: #20ADA9;
    color: #fff;
    text-align: center;
    padding: 15px;
    flex-shrink: 0; /* Impede o footer de encolher */
}


 

.footer .container {
    display: flex;
    justify-content: space-between; /* Garante o espaçamento uniforme entre as colunas */
    align-items: center; /* Alinha verticalmente os elementos */
}

#col-esq-rodape, #col-center-rodape, #col-dir-rodape {
    padding: 15px;
    flex: 1; /* Garante que as colunas tenham a mesma largura */
}

#col-esq-rodape {
    border-right: 1px solid #fff; /* Linha branca entre col-esq-rodape e col-center-rodape */
}

#col-center-rodape {
    
    border-right: 1px solid #fff; /* Linha branca entre col-center-rodape e col-dir-rodape */
}


.footer .logo img {
    height: 100px;
    width: auto; /* Mantém a proporção da imagem */
}

.footer .container.text-center {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Alinha o texto verticalmente */
    text-align: center;
}

.footer #col-esq-rodape .celular {
    text-decoration: none; 
    color: inherit;
}

/* Estilo geral */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Header */
.header {
    background-color: #20ADA9;
    padding: 15px 0;
}

.header .logo img {
    height: 100px;
}

.header .menor {
    font-size: 18px;
    float: right;
    margin-top: 10px;
}

/* Article */
.article {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.article h2 {
    color: #20ADA9;
}

/* Imóvel */
.property {
    margin-bottom: 30px;
}

.property img {
    width: 100%;
    border-radius: 8px;
}

.property-info {
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
}


